.search {

  &__header {
    background-color: $secondary;
    position: relative;

    .cover {
      position: relative;

      &__titles {
        text-align: left;
        width: 100%;
        max-width: 450px;

        @media (#{$bp-larger-than-phablet}) {
          margin-left: 20%;
        }
        @media (#{$bp-larger-than-desktopm}) {
          margin-left: 30%;
        }

        .title {
          font-weight: 700;
          line-height: 1;
          font-size: 4rem;
          font-family: $ff-black;
        }
      }

      &__image {
        width: 715px;
        max-width: 40%;
        height: auto;
        position: absolute;
        bottom: 5%;
        right: 10%;

        @media (#{$bp-smaller-than-phablet}) {
          display: none;
        }
      }

    }

    &__waves {
      width: 100%;
      z-index: -1;
      left: 0;
      background-color: transparent;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      background-image: url("../../static/svg/wave-orange.svg");
      background-position: bottom;
      top: 0;
      transform: translateY(0) rotate(180deg);
      height: 300px;

      @media (#{$bp-larger-than-desktopm}) {
        height: 400px;
      }
    }

  }

  &__buttons {
    .container {
      padding-top: 80px;
      padding-bottom: 60px;
      .wrapper {
        display: flex;
        justify-content: center;
        max-width: 100%;
        width: 550px;
        text-align: center;
        margin: auto;
        .button2, .button {
          flex: 1;
          //font-size: 1.8rem;
        }
      }
    }
  }

}
