.quisommesnous {
    &__content {
        margin-top: 50px
    }
    .activities__block {
        padding-bottom: 0;
    }

    section.activities {
        padding-bottom: 50px;
    }
    @media (#{$bp-smaller-than-desktop}) {
        .container > .row > .cols {
            margin-left: 0;
            width: 100%;
        }
    }

    .blog_style {

    }
}