/* Anchar buttons */
&__search {
  &--container {
    padding-top: 80px;
    padding-bottom: 60px;
    .wrapper {
      margin: auto;
      display: flex;
      justify-content: center;
      text-align: center;
      width: 500px;
      max-width: 100%;
      .button2, .button {
        flex: 1;
      }
    }
  }
}
