.homepage {

  @import "cover";
  @import "search";
  @import "categories-list";
  @import "blue-section";

  &__titles {
    font-weight: bold;
    color: $black;
    font-size: 36px;
  }

}
