.homepage {

  @import "cover";
  @import "search";
  @import "categories-list";
  @import "blue-section";
  @import "chiffres-section";
  @import "reviews.scss";
  @import "news.scss";

  &__titles {
    font-weight: bold;
    color: $black;
    font-size: 36px;
  }

  #homepage__event_types {
    margin-top: 50px;
  }

}
