.homepage {

  @import "cover";
  @import "search";
  @import "categories-list";
  @import "blue-section";
  @import "chiffres-section";
  @import "_reviews.scss";

  &__titles {
    font-weight: bold;
    color: $black;
    font-size: 36px;
  }

  #homepage__categories {
    margin-top: 50px;
  }

}
