.activities {
    background-attachment: fixed;
    &__row {
        position: relative;
        color: $white;
        text-align: center;
    }
    &__item-wrapper {
        position: relative;
        height: 200px;
        margin: 2px;
        transform: scale(1);
        transition: transform $fast ease-in;
        z-index: auto;
        &:hover {
            transform: scale(1.25);
            z-index: 1200;
            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                transform: scale(1);
           }
        }
        &:hover,
        &.active {
            .activities {
                &__img {
                    //transform: scale(1.1);
                }
                &__title {
                    color:$white;
                    transform: translateY(-30px);
                }
                &__preview-button {
                    transform: translateY(-30px);
                }
            }
        }
    }
    &__block {
        padding-bottom: 5rem;
        .activity-preview {
            display: none;
        }
    }
    &__item {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        align-items: center;
        border-radius: $global-radius;
        
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            display: block;
        }
    }
    &__img {
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: transform $fast ease-in;
    }
    &__filter {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 0;
        height: 100%;
        transition: all $fast;
        background: linear-gradient(rgba($black,0) 50%, rgba($black,1));
    }
    &__title {
        position: relative;
        z-index: 10;
        margin-bottom: 5px;
        color:$white;
        transition: transform $fast;
    }
    &__preview-button {
        z-index: 10;
        cursor: pointer;
        transition: transform $fast, fill $fast;
        transform: translateY(30px);
        padding: 0 10px;
        fill: $white;
        &:hover {
            fill: $orange;
        }
    }
    &__pattern {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background-attachment: fixed;
        z-index: -1;
    }
    .slick-arrow {
        z-index: 10;
    }
    .carousel__prev,
    .carousel__next {
        opacity: 0;
        height: calc(100% - 4px);
        top: 2px;
        width: 47px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all $fast;
        &:hover {
            opacity: 1;
            background: linear-gradient(rgba($black,0.5), rgba($black,0.5));
        }
    }
    .carousel__next {
        right: 0;
        border-radius: $global-radius 0 0 $global-radius;
    }
    .carousel__prev {
        left: 0;
        border-radius: 0 $global-radius $global-radius 0;
    }
    &__discover {
        z-index: 10;
        color: $white;
    }
    &__slider {
        position: relative;
        .slick-list.draggable {
            position: relative;
            overflow: unset;
            z-index: 1;
        }
        &.not-all-slide {
            .slick-track {
                margin-left: 0;
            }
        }
    }
}
