/* Buttons */
@mixin button-common {
  padding: $padding-btn;
  font-family: $ff-h1;
  transition: all $fast;
  text-transform: uppercase;
  margin: 0;
  cursor: pointer;
  display: inline-block;

  &--jumbotron {
    padding: 15px 50px;
  }

  &--xxl {
    padding: 25px;
  }
  &--noradius-left {
    border-radius: 0 50px 50px 0;
  }
  &--noradius-right {
    border-radius: 50px 0 0 50px
  }
}

a.button,
input.button,
button.button,
.woocommerce a.button,
.woocommerce input.button,
.woocommerce button.button{
  @include button-common;

  color: $secondary-btn!important;
  background: $primary-btn!important;
  border-radius: $global-radius;
  border:none;

  &:hover {
    transform: $transform-btn;
    background: $secondary!important;
    color: $secondary-btn!important;
  }
  &--white {
    background: $white!important;
    border: 2px solid $primary!important;
    color: $primary!important;
    font-weight: 500;
  }

}

.activity-preview {
  a.button,
  input.button,
  button.button {
    &--white {
      border: none;
    }
  }
}

a.button2,
input.button2,
button.button2 {
  @include button-common;

  border-radius: 25px;
  border: 2px solid $secondary;
  font-weight: bold;
  color: $secondary;

  &:hover {
    color: $white;
    background-color: $secondary;
  }
}
