/* The container must be positioned relative: */
.custom-select {
    position: relative;
    flex: 1;
    select {
        display: none; /*hide original SELECT element: */
    }



  /* Label in bouton */
  .select-selected {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Style items dropdown (options): */
  .select-items {
    position: absolute;
    background-color:  $white;
    top: 90px;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 1px 4px 6px 1px rgba(112, 112, 112, 0.39);
    border-radius: 10px;
    overflow: hidden;

    div {
      color: $secondary;
      padding: 16px 20px;
      cursor: pointer;
      transition: background $fast;
      text-transform: capitalize;

      &:nth-last-child(1) {
        border-radius: 0 0 $global-radius $global-radius;
      }
      &:hover {
        background: $light-orange;
      }
      /* Selected in dropdown */
      &.same-as-selected {
        background: $light-orange;
      }
    }

    /* Hide the items when the select box is closed: */
    &.select-hide {
      display: none;
      div:hover, .same-as-selected {
        background-color: rgba($black, 0.1);
      }
    }
  }

}









