/* The container must be positioned relative: */
.custom-select {
    position: relative;
    flex: 1;
    //margin: 0 30px 0 0;
    text-align: left;
    //font-weight: 500;
    select {
        display: none; /*hide original SELECT element: */
    }
}

  .select-selected {
    //background-color: $white;
    //border-radius: $global-radius;
    &:after {
        //position: absolute;
        //content: url('.././img/chevron-down.svg');
        //top: 17px;
        //right: 20px;
        //width: 15px;
        //height: 15px;
        //transition: transform $fast;
      }
  }

  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    //border-color: transparent transparent $white transparent;
    //transform:rotate(180deg);
  }

  /* style the items (options), including the selected item: */
  .select-items div {
    color: $secondary;
    padding: 16px 20px;
    //border: 1px solid transparent;
    //border-color: transparent transparent rgba($black, 0.1) transparent;
    cursor: pointer;
  }

  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color:  $white;
    top: 70px;
    border: 2px solid green;
    left: 0;
    right: 0;
    z-index: 99;
    div {
      transition: background $fast;
      &:nth-last-child(1) {
        border-radius: 0 0 $global-radius $global-radius;
      }
      &:hover {
        background: $light-blue;
      }
    }
  }

  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
    div:hover, .same-as-selected {
        background-color: rgba($black, 0.1);
    }
  }
