.link {
    display: inline-block;
    font-style: italic;
    position: relative;
    &:after {
        content: "";
        width: 80%;
        height: 2px;
        background: $primary;
        position: absolute;
        bottom: -5px;
        left: 10%;
        transition: all $fast;
    }
    &:hover {
        color: $secondary;
        &:after { 
            width: 100%;
            left: 0;
            background: $secondary;
        }
    }
    &.link__white {
        color: $white;
        &:after {
            background: $white;
        }
    }
}