.newsletter {
    display: flex;
    flex-direction: column;
    input {
        padding: 5px 10px;
        &[type=email] {
            background: transparent;
            color: $white;
            border: 1px solid;
            border-radius: $global-radius;
        }
        &::placeholder {
            color: $white;
        }
    }
}

#newsletter_modal {
    .newsletter-big {
        margin: 0 auto;
        max-width: 100%;
        box-shadow: none;
    }
}
.newsletter-big {
    padding: 50px 45px;
    max-width: 650px;
    margin: 50px auto;
    border-radius: $global-radius;
    background-color: $white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    h3 {
        font-size: 30px;
        font-weight: 500;
        color: $blue;
        text-align: center;
    }
    p {
        font-size: 20px;
        font-weight: 400;
        color: $blue;
        text-align: center;
    }
    form {
        display: flex;
        flex-direction: column;
        @media (#{$bp-larger-than-tablet}) {
            justify-content: center;
            flex-direction: column;
            input {
                margin-bottom: 0;
            }
        }
        .newsletter {
            display: flex;
            padding: 0;
            justify-content: center;
            flex-direction: column;
            @media (#{$bp-larger-than-tablet}) {
                padding: 0 100px;
                flex-direction: row;
            }
        }
        input {
            box-sizing: border-box;
            &[type=email] {
                background: transparent;
                color: $blue;
                border: 1px solid $blue;
                border-radius: $global-radius;
                padding: 10px 23px;
                width: 100%;
                margin-right: 25px;
            }
            &::placeholder {
                color: $blue;
            }
            &[type=submit] {
                background: $blue;
                color: $white;
                border: none;
                font-weight: 700;
                border-radius: $global-radius;
                padding: 10px 23px;
            }
        }
    }

}