&__header {
  background-color: $secondary;
  position: relative;

  .cover {
    position: relative;

    &__titles {
      text-align: left;
      width: 100%;
      max-width: 450px;

      @media (#{$bp-larger-than-phablet}) {
        margin-left: 20%;
      }
      @media (#{$bp-larger-than-desktopm}) {
        margin-left: 30%;
      }

      .title {
        font-weight: 700;
        line-height: 1;
        font-size: $fs-h1;
        font-family: $ff-black;
      }
    }

    &__image {
      width: 715px;
      max-width: 40%;
      height: auto;
      position: absolute;
      bottom: 5%;
      right: 10%;
      z-index: 10;

      @media (#{$bp-smaller-than-phablet}) {
        display: none;
      }
    }

  }

  &__waves {
    @include wave;
    transform: translateY(0) rotate(180deg);
    position: absolute;
    bottom: 0;
    top: unset;
    fill: $light-orange;
    z-index: 5;
    height: 50vh;
    background-image: url("../../static/svg/wave-beige-search.svg");
  }

}
