&__buttons {
  padding-bottom: 30px;

  @media (#{$bp-smaller-than-phablet}) {
    display: none;
  }

  .container {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    max-width: 90%;
    width: 550px;
    text-align: center;
    margin: auto;

    .button2 {
      flex: 1;
      text-align: center;
      height: 80px;
      vertical-align: middle;
      padding: 0 12px;
      font-size: $fs-h4;
      display: flex;

      &--noradius {
        border-left: none;
        border-right: none;
      }
    }
  }

  &--refresh {
    position: absolute;
    right: 0;
    transform: translateY(-50%) translateX(50%);
    top: 50%;

    @media (#{$bp-larger-than-desktop}) {
      transform: translateY(-50%) translateX(-100%);
    }

    &--button {
      background-color: $secondary;
      padding: 8px;
      border-radius: 100%;
      display: inline-block;
      border: none;
      outline: none;
      cursor: pointer;

      svg {
        fill: $white;
        display: block;
      }

      &:hover {
        animation: spin .8s linear infinite;
      }
    }
  }

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
