&__buttons {

  @media (#{$bp-smaller-than-phablet}) {
    display: none;
  }

  .container {
    padding-top: 50px;
    padding-bottom: 80px;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    max-width: 100%;
    width: 550px;
    text-align: center;
    margin: auto;
    .button2 {
      flex: 1;
      text-align: center;
      height: 80px;
      vertical-align: middle;
      padding: 0 16px;
      font-size: $fs-h4;
      display: flex;

      &--noradius {
        border-left: none;
        border-right: none;
      }
    }
  }

}
